.hovermenu{
font: bold 12px/40px Verdana;
background:url(images/menu_bg.jpg) repeat-x;
width: 100%;
}

.hovermenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.hovermenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.hovermenu ul li a{
display: block;
background: url(images/menu_space.jpg) right top no-repeat; /*background of tabs (default state)*/
color: white;
padding: 4px 10px;
/*border-right: 1px solid #778;*/
color: #2d2b2b;
text-decoration: none;
}

* html .hovermenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.hovermenu ul li a:link, .hovermenu ul li a:visited{
color: white;
}

.hovermenu ul li a:hover{
/*background: black; tab link background during hover state*/
color: #FC3;
}
	
/*1st sub level menu*/
.hovermenu ul li ul{
position: absolute;
left: 0;
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.hovermenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.hovermenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.hovermenu ul li ul li a{
font: normal 13px Verdana;
background:#62A43A;
width: 235px; /*width of sub menus*/
padding: 5px;
margin: 0;
border-top-width: 0;
border-bottom: 1px solid #56992F;
}

.hovermenuz ul li ul li a:hover{ /*sub menus hover style*/
background: #339900;
color: black;
}

/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 35px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}
